<!-- Post Page -->
<meta charset="utf-8" />
<script>s['s'] = "PostView";</script>
<div class="row" id="postArea" >
	<ol class="breadcrumb">
		<li><a href="/#">煎肉</a></li>
		<li><a href="/Post/#">漫画贴子</a></li>
		<li class="active">{$data.postname}</li>
	</ol>
	<div class='col-sm-9'>
		<h2 class="text-center">{$data.postname}</h2>
		<hr />
		<p class="text-center">贴主：{$data.postauthor} &nbsp;|&nbsp; 收录时间：{$data.uploaddate} &nbsp;|&nbsp; 更新时间：{$data.modifydate}</p>
		<fieldset>
			<legend>在线浏览</legend>
			<div class="panel panel-default">
			  <div class="panel-body picAreaClose" id="picArea" data-id="{$data.id}">
			    <div class="row">
			    </div>
			  </div>
			  <div class="panel-footer text-center" id="picAreaExpand">点击展开</div>
			  <div class="panel-footer text-center hidden" id="picAreaClose">点击收起</div>
			</div>
			<!-- Duoshuo Comment BEGIN -->
    		<div class="ds-thread" data-thread-key="post-{$data.id}" data-title="{$data.postname}" data-url="{$think.config.siteurl}p/{$data.postid}" ></div>
    		<!-- Duoshuo Comment END -->
		</fieldset>
	</div>
	<div class='col-sm-3'>
		<div class="panel panel-default" id="postAreaUser">
			<div class="panel-heading">提交者</div>
			<div class="panel-body">
				<a href="/#" target="_blank"><img src="{$user.avatar}" alt="{$user.username}" class="pull-left" /><h4 class="text-center">{$user.username}</h4></a>
			</div>
		</div>
		<div class="well" id="postAreaDown">
			<h4>下载图片</h4>
			<p>点击下方的下载按钮，将提示窗口中的文字全部复制到下载软件中，即可批量下载图片。</p>
			<p class="text-danger">注意：批量下载的地址为百度原图地址，如果无法下载说明原图已经被百度删除。</p>
			<p class="text-center"><button class="btn btn-large btn-primary" data-toggle="modal" data-target="#postDownWin">点击下载</button></p>
				
		</div>
	</div>
</div>

<!-- Modal -->
	<div class="modal fade" id="postDownWin" tabindex="-1" role="dialog" aria-labelledby="postDownWinLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="postDownWinLabel">下载原始图片</h4>
			    </div>
			    <div class="modal-body">
			      	<textarea rows="5" cols="*" id="postDownLink" data-url="{:C('fullPicUrl')}"></textarea>
			    </div>
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    	<button type="button" class="btn btn-primary" id="postDownBtn" data-clipboard-target="postDownLink">复制到剪切板</button>
			    </div>
			 </div>
		</div>
	</div>