<!-- User Create Page -->
<script>s['s'] = "UserCreate";</script>
<meta charset="utf-8" />
<div class="row" id="UserCreateArea" >
	<ol class="breadcrumb">
		<li><a href="/#">煎肉</a></li>
		<li class="active">用户注册</li>
	</ol>
	<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<div class="row">
			  		<div class="col-sm-3 text-center" id="UserCreateAvatar">
			  			<img src="{$info.avatar_url}" alt="头像" class="pull-left" />
			  			<p class="lead userLeadP">
			  				<strong>{$info.name}</strong>
			  			</p>
			  		</div>
			  		<div class="col-sm-9">
			  			<p class="lead userLeadP">您选择通过绑定通行证的方式注册本站帐号，请补充以下资料：</p>
			  		</div>
			  	</div>
			  </div>
			  <form class="form-horizontal" role="form" id="userCreateForm" method="post" action="/UserAjax/create">
				  <div class="panel-body">
				    <div id="userCreateBody">
				    	
				    	<div class="form-group">
		  					<label for="userCreateNick" class="col-sm-2 control-label">昵称</label>
		  					<div class="col-sm-10">
		  						<input type="text" name="nick" id="userCreateNick" class="form-control" placeholder="请输入您希望使用的昵称" value="{$info.name}" />
		  					</div>
						</div>
						<div class="form-group">
		  					<label for="userCreateEmail" class="col-sm-2 control-label">邮箱</label>
		  					<div class="col-sm-10">
		  						<input type="email" name="email" id="userCreateEmail" class="form-control" placeholder="请输入Email邮箱帐号" />
		  					</div>
						</div>
						<div class="form-group">
		  					<label for="userCreatePwd" class="col-sm-2 control-label">密码</label>
		  					<div class="col-sm-10">
		  						<input type="password" name="pwd" id="userCreatePwd" class="form-control" placeholder="请输入密码" />
		  					</div>
						</div>
						<div class="form-group">
		  					<label for="userCreateRepwd" class="col-sm-2 control-label">确认密码</label>
		  					<div class="col-sm-10">
		  						<input type="password" name="repwd" id="userCreateRepwd" class="form-control" placeholder="请再次输入密码" />
		  					</div>
						</div>
						<div class="form-group">
		  					<label for="userCreateAgreement" class="col-sm-2 control-label">用户协议</label>
		  					<div class="col-sm-10">
		  						<label for="userCreateAgreement" class="form-control"><input type="checkbox" name="agreement" id="userCreateAgreement" />我已经阅读并同意用户协议</label>
		  					</div>
						</div>
						<input type="hidden" name="duid" value="{$info.user_id}" />
						<input type="hidden" name="avatar" value="{$info.avatar_url}" />
						<input type="hidden" name="url" value="{$url}" />
				    </div>
				  </div>
				  <div class="panel-footer text-right">
				  	<a role="button" class="btn btn-default" href="{$url}">返回</a>
				  	<button type="submit" id="userCreateSubmit" class="btn btn-primary">注册</button>
				  </div>
			  </form>
			</div>
		
	</div>
</div>