

/* Layout */

#brand kbd {margin:0 10px; font-size:.5em;}
#brand a.navbar-brand {font-weight:900;font-family:'Microsoft YaHei';font-size:26px;}

#mainLayout {padding:60px 5px;}

#copyright,#footer {border-top:1px solid #ccc; line-height:3em;}
#footer {position:fixed; bottom:0px; left:0px; height:40px; width:100%; z-index: 10; background:#FFF;}

#loginWin .modal-body {padding:10px 20px;}

.loginOauth>.loginItemA,
.loginAccount>.loginItemO {display:none; visibility:hidden;}

#loginPanelAccount .panel-body {padding:10px;}
#loginPanelAccount .input-group {margin-bottom:10px;}

/* index */

.mainPageMargin{margin:20px 10px;}

/* UserCreate */

#UserCreateAvatar img {width:48px;height:48px;}
.userLeadP{margin-top:15px;}

#userCreateBody {padding:20px;}
#userCreateBody .form-group {margin-bottom:10px;}
#userCreateAgreement {margin:0 10px;}

/* PostAdd */
#PostAddArea .panel-body {height:300px;overflow:auto;}

/* PostView */
.picAreaClose {height:200px;overflow:hidden;}
#picArea img {height:120px;}
#picAreaExpand,#picAreaClose{padding:0; cursor:pointer;}
#postAreaUser h4 {overflow:hidden;line-height:2em;font-weight:900;}
#postAreaUser img { width:48px; }
#postAreaDown h4 { border-bottom: 1px solid #999;line-height: 2em;margin-top: 0; }
#postDownWin .modal-body { padding:0; }
#postDownLink {padding:10px;}
#postDownLink { border:0; width:100%; }

/* PostList */
#postListBody h2>small{font-size: .5em;line-height: 3em;}
#postListBody .media-body {border-bottom:1px solid #EEE;padding:10px 5px;width:100%; }
#postListBody nav {margin-top:20px;}