<!-- PostAdd Page Body -->
<meta charset="utf-8">
<script>
s['s'] = "PostAdd";
s['p'] = {tb:"{:C('baiduPostUrl')}"};
</script>
    
    	<div class="row" id="PostAddArea" data-id="{$postid}" >

    		<ol class="breadcrumb">
				<li><a href="/#">煎肉</a></li>
				<li><a href="/Post/#">漫画贴子收录</a></li>
				<li class="active">{$postid}</li>
			</ol>

    		<div class="row mainPageMargin">
    			<div class="panel panel-info">
					<div class="panel-heading">
					    <h3 class="panel-title">操作状态</h3>
					</div>
					<div class="panel-body">
					    <ul id="PostAddList">
					    	<li class="text-success">正在收录贴吧漫画帖{$postid}</li>
					    </ul>
					</div>
					<div class="panel-footer hidden" id="PostAddNext">
						<p class="text-right">
							<button class="btn btn-primary" type="button" id="PostAddShow">查看页面</button>
							<button class="btn btn-primary hidden" type="button" id="PostAddEdit">编辑收录信息</button>
						</p>
					</div>
				</div>
    		</div>
    	</div>