<meta charset="utf-8">
    <!-- PostAdd Page Body -->
    
    	<div class="row" id="PostAddArea" data-id="{$postid}" >

    		<ol class="breadcrumb">
				<li><a href="/#">煎肉</a></li>
				<li><a href="/Post/#">整合帖收录</a></li>
				<li class="active">{$postid}</li>
			</ol>

    		<div class="row" style="margin-top:20px;">
    			<div class="panel panel-info">
					<div class="panel-heading">
					    <h3 class="panel-title">操作状态</h3>
					</div>
					<div class="panel-body" style="height:300px;overflow:auto;">
					    <ul id="PostAddList">
					    	<li class="text-success">正在收录贴吧整合帖{$postid}</li>
					    </ul>
					</div>
				</div>
    		</div>
    	</div>
    
    <script>
    var pagescript = function(){
    		
    		
    		var id = $("#PostAddArea").data("id");
    		var url = "http://tieba.baidu.com/p/"+id;
    		
    	}
    </script>