<!-- Post List Page -->
<meta charset="utf-8" />
<script>s['s'] = "PostList";</script>
<div class="row" id="postList" >
	<ol class="breadcrumb">
		<li><a href="/#">煎肉</a></li>
		<li><a href="/Post/#">漫画贴子</a></li>
		<li class="active">最新收录列表</li>
	</ol>
	<div class='col-sm-9' id="postListBody">
		<h2>最新收录列表<small class="pull-right">当前总共收录漫画贴子 <strong class="text-danger">{$total}</strong> 条</small></h2>
		<hr />
		<foreach name="list" item="vo" >
		<div class="media row">
			<div class="media-body col-sm-12">
				<h4 class="media-heading"><a href="/p/{$vo.postid}">{$vo.postname}</a></h4>
				<ul class="list-inline pull-right">
					<li>更新时间：{$vo.modifydate}</li>
				</ul>
				<ul class="list-inline">
					<li>来源：{$vo.forumname}</li>
					<li>贴主：{$vo.postauthor}</li>
				</ul>
			</div>
		</div>
		</foreach>
		<nav>
		  	<ul class="pager">
		  		<equal name="prev" value="0">
		    	<li class="previous disabled"><a href="#"><span aria-hidden="true">&lt;&lt;</span> 上一页</a></li>
		    	<else/>
		    	<li class="previous"><a href="/Post/update/page/{$prev}#"><span aria-hidden="true">&lt;&lt;</span> 上一页</a></li>
		    	</equal>
		    	<equal name="next" value="0">
		    	<li class="next disabled"><a href="#">下一页 <span aria-hidden="true">&gt;&gt;</span></a></li>
		    	<else/>
		    	<li class="next"><a href="/Post/update/page/{$next}#">下一页 <span aria-hidden="true">&gt;&gt;</span></a></li>
		    	</equal>
		  	</ul>
		</nav>
	</div>
</div>