<!-- Index Page -->
		<script>s['s'] = "index";</script>
		<meta charset="utf-8">
    	<div class="row" id="mainArea" >
    		<div class="well">
    			<div class="mainPageMargin" id="mainTitle">
    				<h1 class="text-center">煎肉</h1>
    			</div>
    			<div class="row mainPageMargin">
    				<ul class="nav nav-pills" role="tablist">
					  <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">贴吧贴子</a></li>
					  <!-- <li role="presentation"><a href="#search" role="tab" data-toggle="tab">搜索</a></li> -->
					</ul>
    			</div>
    			<div class="tab-content mainPageMargin">
    				<div role="tabpanel" class="tab-pane active" id="home">
	    				<div class="input-group input-group-lg">
	  						<span class="input-group-addon">贴子地址</span>
	  						<input type="text" class="form-control" id="postlinkaddr" placeholder="请输入贴吧贴子链接地址" />
	  						<span class="input-group-btn">
	        					<button class="btn btn-default" id="postlinkbtn" type="button">解析</button>
	      					</span>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="search">
	    				<div class="input-group input-group-lg">
	  						<input type="text" class="form-control" placeholder="请输入漫画关键词" />
	  						<span class="input-group-btn">
	        					<button class="btn btn-default" type="button">搜索</button>
	      					</span>
						</div>
					</div>
    			</div>
    			<div class="row mainPageMargin">
    				<div class="panel panel-info">
					  <div class="panel-heading">
					    <h3 class="panel-title">使用说明</h3>
					  </div>
					  <div class="panel-body">
					    <ol>
					    	<li>这是测试版本，一些功能尚未补全，相关的数据会保留到正式版本使用。</li>
					    	<li>查看对应漫画只需要将贴吧的地址拷贝到上方文本框就可以识别了。</li>
					    	<li>如果提示“没有收录”，则需要登录本站进行收录。</li>
					    	<li>建议直接通过各种通行证登录，新用户需要填写一些注册资料。</li>
					    	<li>关于本应用相关的讨论，请加群：<kbd>3005 26 266</kbd></li>
					    </ol>
					  </div>
					</div>
    			</div>
    		</div>
    	</div>